html {
  font-size: calc(12px + 0.95vw);
  font-family: "Open Sans", sans-serif;
  color: #333;
  line-height: 1.6;
  background-color: #f4f4f4;
  scrollbar-width: none;
  body {
    main {

      background-color: #ffffff;
      margin: 60px 60px 0 60px;
      border-radius: 15px;
      margin-top: 11vw;
      padding-bottom: 10px;
      margin-bottom: 5vw;
      padding-top: 1vw;

      .mini-text {
        text-align: center;
        font-size: 1rem;
        line-height: 1.6;
        padding: 0px 100px;
        margin: 10px 50px;
        color: #003366;
      }

      h1 {
        margin: 3vw;
        text-align: center;
        color: #001f3d;
        font-weight: bolder;
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
        text-align: center;
        font-size: 4rem;
      }

      h2 {
        margin: 4vw 0 3vw 0;
        text-align: center;
        color: #004589;
        font-weight: bolder;
        font-family: 'Times New Roman', Times, serif;

        span {
          text-align: center;
          font-size: 60px;
        }
      }

      .parte-I {
        .mini-text {
          border-radius: 15px;
          padding: 1vw 20px;
          margin: 0px 10vw;
        }

        .cards {
          display: flex;
          flex-wrap: nowrap;
          text-align: center;
          justify-content: center;
          gap: 2vw;
          margin: 10px 50px;
          padding: 50px;

          .card-I,
          .card-II {
            width: 50%;
            background-color: #e3f1ff;
            border-radius: 23px;
            padding: 30px 25px;
            transition: transform 0.25s ease, box-shadow 0.25s ease;

            h3 {
              color: #003366;
              font-size: 90px;
              display: flex;
              gap: 40px;


              .img-certo {
                background-color: rgb(31, 126, 31);
                width: 90px;
                height: 90px;
                border-radius: 10px;
              }

              .img-ruim {
                background-color: rgb(115, 0, 0);
                width: 90px;
                height: 90px;
                border-radius: 10px;
              }
            }
              .ruim {
                font-size: 90px;
                color: rgb(115, 0, 0);
              }
              .bom {
                font-size: 90px;
                color: rgb(31, 126, 31);
              }


            .amb-bom,
            .amb-ruim {
              text-align: center;

              img {
                width: 600px;
                border-radius: 10px;
              }
            }

            p {
              color: #003366;
              font-size: 1rem;
              margin: 10px 35px;
              line-height: 45px;
            }
          }
        }

        .card-I:hover,
        .card-II:hover {
          box-shadow: 0 0 25px 15px #c8e3ff;
          transform: translateY(-25px);
          box-shadow: 0 12px 28px rgba(0, 89, 179, 0.35);
        }

      }

      .parte-II {

        .aba-I,
        .aba-II {
          text-align: center;
          transition: transform 0.25s ease, box-shadow 0.25s ease;
          border-radius: 25px;
          padding: 25px;
          margin: 50px;
          background-color: #c6e2ff;
          display: flex;
          justify-content: center;

          img {
            border-radius: 20px;
            width: 700px;
          }

          .text {
            padding: 20px 0 20px 20px;

            h3 {
              font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
              color: #003366;
              font-size: 40px;
              margin-bottom: 30px;

            }

            p {
              line-height: 40px;
              font-size: 1rem;
              text-align: left;
              padding-left: 8px;
              border-left: 4px solid #0056b3;
            }
          }

          span {
            transition: transform 0.25s ease;
            display: inline-block;
          }

          h3 :hover {
            transform: translateY(-10px);
            color: #0056b3;
          }
        }

        .aba-I:hover,
        .aba-II:hover {
          box-shadow: 0 0 15px 10px #c8e3ff;
          transform: translateY(-25px);
          box-shadow: 0 12px 28px rgba(0, 89, 179, 0.35);
        }
      }

      .parte-III {
        .video {
          text-align: center;

          video {
            border-radius: 20px;
          }
        }

        .artigo {
          margin: 30px;
          border-radius: 50px;
          section {
            padding: 30px;
            align-items: center;
            margin: 70px;
            display: flex;
            text-align: center;
            justify-content: center;
            gap: 40px;
            border-radius: 20px;

            a {
              text-decoration: none;
              background-color: #001f3d;
              color: white;
              padding: 5px 10px;
              border-radius: 10px;
            }

            .arquive {
              text-align: center;
              font-size: 40px;
              line-height: 1.3;
            }
          }
        }
      }
    }
  }
}
