html {
  font-size: calc(12px + 0.95vw);
  font-family: "Open Sans", sans-serif;
  color: #333;
  line-height: 1.6;
  background-color: #001f3d;
  scrollbar-width: none;

  body {
    main {
      background-color: #fcfcfc;
      margin: 60px 60px 0px 60px;
      border-radius: 15px;
      margin-top: 11vw;
      padding-bottom: 10px;
      margin-bottom: 5vw;
      .mini-text {
        text-align: center;
        margin: 0 15vw;
        font-size: 30px;
        line-height: 2;
        padding: 0px 50px;
        margin: 10px 50px;
        color: black;
        text-align: left;
      }

      h1 {
        margin: 3vw;
        text-align: center;
        color: #001f3d;
        font-weight: bolder;
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

        span {
          text-align: center;
          font-size: 3rem;
          border-bottom: 0.5vw solid #0056b3;
        }
      }

      h2 {
        padding: 3vw 4vw;
        text-align: center;
        span {
        color: #0056b3;
        font-weight: bolder;
        font-family: "Times New Roman", Times, serif;
          text-align: center;
          font-size: 55px;
            }
        }

        h3 {
        margin: 7vw 20vw 2vw 20vw;
        border: 5px solid #001c43;
        padding: 3vw 4vw;
        border-radius: 3vw;
        text-align: center;
        span {
        color: #001c43;
        font-weight: bolder;
        font-family: "Times New Roman", Times, serif;
          text-align: center;
          font-size: 55px;
            }
        }
        .numero {
          margin-right: 5px;
          border-radius: 1000px;
          background-color: #001f3d;

          img {
            width: 60px;
            height: 45px;
          }
        }
      

      .parte-I,
      .parte-II,
      .parte-III,
      .parte-IV {
        font: 30px;
        padding: 10px;
        border-radius: 30px;
        margin: 70px;
        background-color: #ffffff;
        color: #001f3d;
        background-color: #001c43;
      }

      .botoes {
        display: flex;
        justify-content: space-between;
        position: relative;
        top: 450px;
        margin: 20px;

        .botao-esquerdo,
        .botao-direito {
          width: 100px;
          height: 100px;
          background-color: gray;
          border-radius: 50%;
          border: none;
          cursor: pointer;
        }
      }
      .sinais {
        border-radius: 30px;
      }
      .intro {
        text-align: center;
        margin: 20px;
        padding: 10px;
        border-radius: 10px;
        margin: 70px;
        border-radius: 30px;
        background-color: #ffffff;
        .mini-text {
          text-align: center;
          margin: 0 15vw;
          font-size: 30px;
          line-height: 2;
          padding: 0px 50px;
          margin: 10px 50px;
          color: #001f3d;
          text-align: left;
        }
      }
    }
  }
    footer {
      background: linear-gradient(#0056b3, #002457);
      color: white;
      text-align: center;
      padding: 2vw 0;
      position: relative;
      left: 0;
      bottom: 0;
      width: 100%;
      font-family: "Times New Roman", Times, serif;
      font-weight: 400;
      font-size: 1.3vw;
      min-height: 70px;
      margin-top: auto;
      box-sizing: border-box;
      z-index: 10;
      width: 100%;
      max-width: auto;

      ul {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;
        width: 90%;
        max-width: 1000px;
        padding: 0;

        .footer-contact {
          display: flex;
          flex-direction: column;
          align-items: center;
          text-align: center;
          flex: 1;

          .midia {
            display: flex;

            img {
              width: 3vw;
              min-width: 40px;
            }
          }
        }

        .logo {
          font-family: "Times New Roman", Times, serif;
          font-weight: 700;
          font-size: 2.5vw;
          color: white;
          display: flex;
          justify-content: center;
          align-items: center;
          flex: 1;
        }

        .linkRp {
          font-size: 1.6vw;
          margin-bottom: 0.6vw;
          flex: 1;

          ul {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            list-style: none;
            padding: 0;
            gap: 0.3vw;

            li a {
              font-size: 1.3vw;
              color: #ffffff;
              text-decoration: none;
              margin-bottom: 0;
              display: block;
              text-align: center;
            }
          }
        }
      }

      p {
        font-size: 1.1vw;
        margin: 1vw 0 0 0;
      }
    }
  }

@media (max-width: 768px) {
  main {
    margin-top: 15vw;
    .container {
      max-width: 95%;
      padding: 1.5rem;
      h2 {
        font-size: 40px;
      }
    }
    .intro {
      font-size: 20px;
    }
    fieldset {
      padding: 1rem;
    }
    .cards {
      grid-template-columns: 1fr;
      gap: 15px;
    }
    .card {
      padding: 20px 15px;
    }
  }
}

@media (max-width: 500px) {
  main {
    .container {
      padding: 1rem;
      h2 {
        font-size: 30px;
      }
    }
    .intro {
      font-size: 18px;
    }
    fieldset {
      padding: 0.8rem;
    }
    .card {
      padding: 15px 10px;
      h3 {
        font-size: 1.1rem;
      }
    }
  }
}
