html {
  font-size: calc(12px + 0.95vw);
  font-family: "Open Sans", sans-serif;
  color: #333;
  line-height: 1.6;
  background-color: #0056b3;

  scrollbar-width: none;

  body {
    background-color: white;
    main {
      .main-top {
        div {
          position: relative;
          padding-top: 10vw;
          color: white;
          background-color: rgba(0, 0, 0, 0.5);
          background-image: url(https://img.freepik.com/free-photo/panoramic-view-river_1359-769.jpg?semt=ais_hybrid&w=740&q=80);
          background-blend-mode: multiply;
          background-size: 100%;
          background-repeat: no-repeat;
          h2 {
            text-align: center;
            font-size: 13vw;
            font-family: "Courier New", Courier, monospace;
          }
          p {
            text-align: center;
            font-size: 1.4vw;
            padding-inline: 15vw;
            line-height: 2vw;
            padding-bottom: 10vw;
          }
        }
        .decoration {
          position: absolute;
          bottom: 0px;
          background: transparent;
          #router-pages {
            border-top-right-radius: 10vw;
            width: fit-content;
            padding: 0.3vw 3vw;
            padding-top: 0.8vw;
            background-color: white;
            justify-content: left;
            display: flex;
            gap: 6vw;
            li button {
              cursor: pointer;
              border: none;
              background-color: transparent;
              font-size: 2vw;
              display: flex;
              gap: 0.2vw;
              align-items: center;
              padding: 0.3vw 1vw;
              img {
                height: 2.5vw;
              }
            }
            li button:hover {
              background-color: #4882bf;
/*               background: linear-gradient(#5ba2ee, #4882bf, #0056b3); */
              border-radius: 15px;
            }
          }
        }
      }
      .main {
        background-color: white;
        .main-content {
          #postura,
          #luz-solar,
          #burn-out,
          #telas {
            background-color: white;
            h2 {
              border-radius: 25px;
              text-align: center;
              font-size: 3vw;
              padding: 1vw 3vw;
              margin-bottom: 2vw;
              margin-top: 2vw;
              background: linear-gradient(180deg, #0056b3, #00bfff);
              -webkit-background-clip: text;
              -webkit-text-fill-color: transparent;
            }
            .template-I {
              box-shadow: 0px 5px 15px 0px rgb(81, 81, 81);
              background-color: #0e68c9;
              padding-top: 3vw;
              margin-inline: 3vw;
              border-radius: 25px;
              margin-top: 3vw;
              width: fit-content;
              padding-inline: 2vw;
              margin-bottom: 2vw;
              .card-text {
                padding-top: 2vw;
                padding-bottom: 2vw;
                display: flex;
                gap: 2vw;
                justify-content: center;
                p {
                  border: 3px solid #53a6ff;
                  font-size: 1.5vw;
                  background-color: white;
                  color: #002b59;
                  border-radius: 2vw;
                  padding: 1vw 1vw;
                  line-height: 2vw;
                  text-align: left;
                }
                p:hover {
                  transform: scale(1.04);
                  transition: transform 0.5s ease;
                }
              } 
              .card-img {
                text-align: center;
                img {
                  width: 90vw;
                  border-radius: 30px;
                }
              }
            }
            .template-II {
              margin-top: 2vw;
              padding-inline: 3vw;
              text-align: center;
              h3 {
                padding-top: 4vw;
                padding-bottom: 4vw;
                text-align: center;
                font-size: 5vw;
                color: #002b59;
              }
              ul {
                margin-bottom: 5vw;
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                gap: 3.5vw;
                li {
                  transition: transform 0.5s ease;
                  box-shadow: inset;
                  width: 40%;
                  border-radius: 24px;
                  padding: 2vw 3vw;
                  background: linear-gradient(#0074f0,#107cf0,#0054ae);
                  h4 {
                    border-bottom: 2px solid white;
                    padding-bottom: 1.5vw;
                    margin-bottom: 1.5vw;
                    text-align: center;
                    color: white;
                    font-size: 2.8vw;
                    margin: 2 vw;
                  }
                    div {
                      align-items: center;
                      display: flex;
                      padding-inline: 1vw;
                      justify-content: center;
                      gap: 3.5vw;
                    img {
                      padding: 1vw;
                      border-radius: 24px;
                      background-color: white;
                      height: 10vw;
                  }
                  p {
                    text-align: center;
                    line-height: 2.3vw;
                    color: white;
                  }
                    }
                  }
                  li:hover {
                    transform: scale(1.04);
                    box-shadow: 0px 5px 15px 0px rgb(81, 81, 81);
                }
                }
                .btn-link {
                  background-color: #002b59;
                  color: white;
                  text-decoration: none;
                  padding: 0.8vw 1.3vw;
                  border-radius: 21px;
                  margin-top: 8vw;
                }
              }
            .template-II-parte-2 {
              ul {
                li {
                     div {
                      align-items: center;
                      display: flex;
                      padding-inline: 0.6vw;
                      justify-content: center;
                      gap: 2vw;
                    img {
                      padding: 1vw;
                      border-radius: 24px;
                      background-color: white;
                      height: 10vw;
                  }
                  p {
                    padding-inline: 0.4vw;
                    text-align: center;
                    line-height: 2.3vw;
                    color: white;
                  }
                  }
                }
              }
              .divisoria {
                border-bottom: 2px solid #002b59;
                margin-bottom: 5vw;
                box-sizing: border-box;
              }
            }
            }
          }
        }
      }
    }
  }
