    /* ========================================= HEADER ========================================= */
    @media (min-width: 800px) {
      .seta-voltar {
        background-color: #0056b3;
        border-radius: 50%;
        cursor: pointer;
        position: fixed;
        bottom: 20px;
        right: 20px;
        border: none;
        z-index: 15;

        img {
          width: 60px;
          height: auto;
        }
      }

      header {
        h1 > a {
          margin: 0.6vw;
          margin-left: 2vw;
        }

        #titulo_sobreNos {
          padding-left: 1vw;
          margin-top: 0.2vw;
          margin-bottom: 0.2vw;
        }

        #menu-responsivo {
          display: none;
        }

        img {
          height: 2.6rem;
          filter: brightness(1.05) contrast(1.4) saturate(1.2);
        }

        #nav {
          display: block;
        }

        #segundo-titulo {
          display: none;
        }

        nav {
          .direcionar_sobreNos {
            position: relative;
            z-index: 6;
            height: 100%;
            align-items: center;
            font-size: 1rem;
            display: flex;
            gap: 0.2rem;
            height: 100%;
            margin-top: 0px;


            .link-base {
              align-items: baseline;
            }

            p {
              img {
                width: 22px;
                display: inline-block;
                height: auto;
              }

              display: flex;
              align-items: center;
              justify-content: center;
              height: 100%;
              width: 100%;
              color: white;
              cursor: pointer;
              position: relative;
            }

            li {
              text-align: center;
              min-width: 7.5rem;
              height: 100%;
              box-sizing: border-box;

              ul {
                position: absolute;
                display: none;
                background-color: rgb(18, 21, 44);
                height: auto;
              }
            }

            a {
              display: block;
              width: 100%;
              padding: 1.5vw 0;
              text-decoration: none;
              color: white;
              position: relative;
            }



            li:hover {
              background-color: rgb(18, 21, 44);
            }


          }

          .sub-menu-header {
            border-top: 2px solid white;
            gap: 0.2rem;
            position: absolute;
            width: 100%;
            right: 0;
            display: flex;
            justify-content: right;
            background-color: #0056b3;
            margin: 0px 0px;
            text-align: right;
            font-size: 0.8rem;

            .theme {
              background-color: transparent;
              color: white;
              text-align: center;
              display: flex;
              justify-content: center;
              align-items: first baseline;
              border: none;
              font-size: 1rem;
              cursor: pointer;
              gap: 5px;

              .buttonOff {
                transform: rotate(180deg);
                margin: 0;
                height: 1rem;
                vertical-align: middle;
              }

              .buttonOn {
                margin: 0;
                height: 1rem;
                vertical-align: middle;
              }
            }

            li:hover {
              background-color: rgb(18, 21, 44);
            }

            li {
              text-align: center;
              min-width: 5.5rem;
              height: 100%;
              padding: 0.8vw 0;
              box-sizing: border-box;
            }
          }
        }

        h1 a {
          font-size: 1.4rem;
          text-decoration: none;
          color: white;
        }


        background: #0056b3;
        display: flex;
        justify-content: space-between;
        padding: 0 0 0 0;
        position: fixed;
        top: 0px;
        width: 100%;
        box-sizing: border-box;
        z-index: 5;
        flex-grow: 1;

        ul {
          p {
            text-decoration: none;
            color: white;
            position: relative;
          }
        }
      }

      main {

        margin-top: 6vw;
      }

      footer {
        font-size: 1.2vw;
        background: linear-gradient(#0056b3, #002457);
        color: white;
        text-align: center;
        padding: 2vw 0;
        position: relative;
        left: 0;
        bottom: 0;
        width: 100%;
        font-family: "Times New Roman", Times, serif;
        z-index: 10;
        width: 100%;

        ul.lista-principal {
          margin-bottom: 2vw;
          align-items: center;
          display: flex;
          margin-inline: 6vw;
          gap: 10vw;

          h4 {
            font-size: 1.2vw;
          }

          .footer-contact {
            flex: 1;

            h4 {
              font-size: 2.3vw;
            }

            .midia {
              width: 70px;
            }
          }

          .logo {
            flex: 1;

            img {
              width: 190px;
            }
          }

          .linkRp {
            flex: 1;
            h4 {
              font-size: 2.3vw;
              margin-bottom: 1.5vw;
            }
            .links {
              display: flex;
              justify-content: center;
              gap: 2vw;
              h4 {
                font-size: 2vw;
                margin-bottom: 0.8vw;
              }
              ul {
                li a {
                  font-size: 1.3vw;
                  color: #ffffff;
                  text-decoration: none;
                  margin-bottom: 0.8vw;
                  display: block;
                  text-align: center;
                }
              }
            }
          }
        }
      }
    }

    @media (max-width: 799px) {

      .seta-voltar {
        background-color: #0056b3;
        border-radius: 50%;
        cursor: pointer;
        position: fixed;
        bottom: 12vw;
        right: 5vw;
        border: none;
        z-index: 15;
        img {
          width: 15vw;
          height: auto;
        }
      }

      ::-webkit-scrollbar {
        display: none;
      }

      header {
        background-color: #0056b3;
        width: 100%;
        height: 50px;
        position: fixed;
        top: 0px;
        display: flex;
        padding-top: 4vw;
        justify-content: space-between;
        align-items: center;
        z-index: 20;
        padding-bottom: 4vw;

        a img {
          margin-right: 3vw;
          height: 13vw;
          width: auto;
        }

        #nav {
          display: none;
        }

        #segundo-titulo {
          display: block;
        }

        #menu-responsivo {
          display: block;
        }

        h1 {
          img {
            height: 40px;
            margin-right: 6vw;
          }
        }

        #menu-responsivo {
          margin-left: 1vw;
          border: none;
          background-color: transparent;

          img {
            width: 35px;
            border: 1.5px solid white;
            border-radius: 10px;
            background-color: transparent;
            margin-left: 1vw;
          }
        }

        nav {
          overflow-y: auto;
          height: 100vh;

          div {
            padding: 3vw 0px;
            background-color: #0056b3;
            width: 100%;
            text-align: center;
            border-bottom: 2px solid #ffffff;

            .titulo-responsivo {
              height: 80px;
              width: auto;
            }
          }

          box-shadow: -10vw 0px 10rem black;
          position: fixed;
          right: 0px;
          height: 100%;
          top: 0px;
          width: 80%;
          background-color: #002457;
          z-index: 30;

          .direcionar_sobreNos {
            margin-bottom: 11vw;

            li {
              background-color: #002457;
              font-size: 2rem;
              color: #ffffff;
              justify-content: left;
              padding-bottom: 4vw;
              padding-top: 4vw;
              border-bottom: 2px solid #001c43;

              a {
                text-decoration: none;
                color: #ffffff;
              }

              p {
                padding-left: 3vw;
                height: 100%;
                display: flex;
                align-items: center;

                img {
                  width: 30px;
                  height: auto;
                }
              }

              ul {
                margin-top: 4vw;
                display: none;
                border: none;

                li {
                  margin-bottom: 2px;
                  background-color: #001c43;
                  padding-top: 3vw;
                  border: none;

                }
              }
            }
          }

          .sub-menu-header {
            position: fixed;
            bottom: 0px;
            border-top: 2px solid white;
            gap: 0.2rem;
            width: 100%;
            display: flex;
            justify-content: right;
            background-color: #0056b3;
            margin: 0px 0px;
            text-align: right;
            font-size: 0.8rem;

            .theme {
              margin-right: 10vw;
              background-color: transparent;
              color: white;
              text-align: center;
              display: flex;
              justify-content: center;
              border: none;
              font-size: 2.5rem;
              cursor: pointer;
              gap: 5px;

              .buttonOff {
                transform: rotate(180deg);
                margin: 0;
                height: 2.5rem;
                width: auto;
                vertical-align: middle;
                margin-bottom: 1vw;
              }

              .buttonOn {
                margin: 0;
                height: 2.5rem;
                width: auto;
                vertical-align: middle;
                margin-bottom: 1vw;
              }
            }
          }

        }
      }

      footer {
        font-size: 1.2vw;
        background: linear-gradient(#0056b3, #002457);
        color: white;
        text-align: center;
        padding: 2vw 0;
        position: relative;
        left: 0;
        bottom: 0;
        width: 100%;
        font-family: "Times New Roman", Times, serif;
        z-index: 10;
        width: 100%;

        ul.lista-principal {
          margin-bottom: 2vw;
          align-items: center;
          display: flex;
          margin-inline: 6vw;
          gap: 10vw;

          h4 {
            font-size: 1.2vw;
          }

          .footer-contact {
            flex: 1;

            h4 {
              font-size: 2.3vw;
            }

            .midia {
              width: 70px;
            }
          }

          .logo {
            flex: 1;

            img {
              width: 190px;
            }
          }

          .linkRp {
            flex: 1;
            h4 {
              font-size: 2.3vw;
              margin-bottom: 1.5vw;
            }
            .links {
              display: flex;
              justify-content: center;
              gap: 2vw;
              h4 {
                font-size: 2vw;
                margin-bottom: 0.8vw;
              }
              ul {
                li a {
                  font-size: 1.3vw;
                  color: #ffffff;
                  text-decoration: none;
                  margin-bottom: 0.8vw;
                  display: block;
                  text-align: center;
                }
              }
            }
          }
        }
      }
    }

    /* ========================= MAIN ========================= */
    @media (max-width: 600px) {
      footer {
        font-size: 1.2vw;
        background: linear-gradient(#0056b3, #002457);
        color: white;
        text-align: center;
        padding: 2vw 0;
        position: relative;
        left: 0;
        bottom: 0;
        width: 100%;
        font-family: "Times New Roman", Times, serif;
        z-index: 10;
        width: 100%;

        ul.lista-principal {
          display: flex;
          flex-direction: column-reverse;
          justify-content: flex-start;

          .footer-contact {
            h4 {
              font-size: 8vw;
            }
            .midia {
              width: 50px;
            }
          }

          .logo {

            img {
              margin-top: 8vw;
              width: 40vw;
            }
          }

          .linkRp {
            display: none;
            flex: 1;
            h4 {
              font-size: 2.3vw;
              margin-bottom: 1.5vw;
            }
            .links {
              display: flex;
              justify-content: center;
              gap: 2vw;
              h4 {
                font-size: 2vw;
                margin-bottom: 0.8vw;
              }
              ul {
                li a {
                  font-size: 1.3vw;
                  color: #ffffff;
                  text-decoration: none;
                  margin-bottom: 0.8vw;
                  display: block;
                  text-align: center;
                }
              }
            }
          }
        }
        p {
          font-size: 4vw;
          margin-bottom: 3vw;
        }
      }
    }

    /*Tema escuro config*/

    @media (max-width: 799px) {
    .light {
    background-color: black;


  #nav {
    background-color: rgba(5, 0, 23, 1);
  }

  .direcionar_sobreNos > li {
    background-color: rgba(5, 0, 23, 1);
    color: #ffffff;
    ul > li {
    background-color: rgba(5, 0, 23, 1);
    color: #ffffff;
    }
  }

  #sub-menu-bar {
    background-color: black;
  }
  #segundo-titulo {
    background-color: black;
  }

  #setaVoltar {
    background-color: black;
  }

  .direcionar_sobreNos > li a p,
  .direcionar_sobreNos > li > ul > li a p {
    color: #ffffff;
  }}

    .dark {
    background-color: #0056b3;


  #nav {
    background-color: #002457;
  }

  .direcionar_sobreNos > li {
    background-color: #002457;
    color: #ffffff;
    ul > li {
    background-color: #001b42;
    color: #ffffff;
    }
  }

  #sub-menu-bar {
    background-color: #0056b3;
  }

  #setaVoltar {
    background-color: #0056b3;
  }

  .direcionar_sobreNos > li a p,
  .direcionar_sobreNos > li > ul > li a p {
    color: #ffffff;
  }
    }
    }
    @media (min-width: 800px) {
    .light {
    background-color: black;


  #nav {
    background-color: black;
  }

  .direcionar_sobreNos > li {
    background-color: black;
    color: #ffffff;
    ul > li {
    background-color: rgb(18, 21, 44);
    color: #ffffff;
    }
  }

  #sub-menu-bar {
    background-color: black;
  }

  #setaVoltar {
    background-color: black;
  }

  .direcionar_sobreNos > li a p,
  .direcionar_sobreNos > li > ul > li a p {
    color: #ffffff;
  }}

    .dark {
    background-color: #0056b3;


  nav {
    background-color: #0056b3;
  }

  .direcionar_sobreNos > li {
    background-color: #0056b3;
    color: #a08c8c;
    ul > li {
    background-color: rgb(18, 21, 44);
    color: #ffffff;
    }
  }

  #sub-menu-bar {
    background-color: #0056b3;
  }

  #setaVoltar {
    background-color: #0056b3;
  }

  .direcionar_sobreNos > li a p,
  .direcionar_sobreNos > li > ul > li a p {
    color: #ffffff;
  }
    }
    }