body {
    background-color: black;
}

header {
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav.nav-links a {
    background-color: white;
    color: black;
    padding: 8px 16px;
    margin-left: 10px;
    /* separa os botões */
    border: none;
    border-radius: 4px;
    text-decoration: none;
    font-family: "Times New Roman", Times, serif;
    font-weight: 500;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.2s;
    display: inline-block;
}

.proxima-pg {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    /* centraliza verticalmente */
}

.proxima-pg a {
    background-color: black;
    /* parte interna preta */
    color: white;
    /* escrita branca */
    padding: 24px 80px;
    border-radius: 50px 200px;
    /* oval deitado */
    text-decoration: none;
    font-family: "Times New Roman", Times, serif;
    font-weight: 600;
    font-size: 28px;
    cursor: pointer;
    transition: background 0.2s;
    display: inline-block;
    box-shadow: 0 0 0 3px #b8860b, /* faixa dourada escura externa */
        0 0 0 10px black, /* faixa preta intermediária */
        0 0 0 5px #b8860b; /* faixa dourada escura interna */
}
.sud {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
    font-weight: 900;
    color: #b8860b;
    font-size: 96px;
    text-align: center;
    background: none;
    box-shadow: none;
}