html{
  font-size: calc(12px + 0.8vw);
}

body {
  text-align: center;
  header {
    background-color: #2E7D32;
    height: 55px;

    h1{
      font-size: 3rem;;
    }
   
  }
  h2.subTitulo_sobreNos {
    font-size: 15px;
  }
  .direcionar_sobreNos {
    text-decoration: none;
    color: white;
    display: flex;
    position: fixed;
    top: 0.9vw;
    right: 1.5vw;
    gap: 10px;
  }
/*  display: flex;
  flex-wrap: wrap;

  li{
    width: 30%;
  }
*/
}

  /*color: #4CAF50;*/