html {
  font-size: calc(12px + 0.95vw);
  font-family: "Open Sans", sans-serif;
  color: #333;
  line-height: 1.6;
  background-color: #e6e6e6;

  body {
    background-color: #e6e6e6;
    padding-top: 80px;

    header {
      img {
        height: 3.2rem;
        filter: brightness(1.05) contrast(1.4) saturate(1.2);
      }

      align-items: center;
      background: #0056b3;
      display: flex;
      justify-content: space-between;
      padding: 0 0 0 2vw;
      position: fixed;
      top: 0px;
      width: 100%;
      box-sizing: border-box;
      z-index: 3;
      flex-grow: 1;
      height: 6vw;

      h1 a {
        font-size: 1.4rem;
        text-decoration: none;
        color: white;
      }

      nav {
        height: 100%;

        ul {
          height: 100%;
          align-items: end;
          font-size: 1rem;
          display: flex;
          gap: 0.4rem;

          .cuidados {
            .botao {
              img {
                width: 22px;
                display: inline-block;
                height: auto;
              }

              color: white;
              display: flex;
              justify-content: center;
              align-items: center;
              width: auto;
              height: auto;
              border: none;
              font-size: 1rem;
              cursor: pointer;

              .sub-menus,
<<<<<<< HEAD
=======
              .sub-menus,
>>>>>>> d1ee6ad7dfc5d3448d7f7146467e6695c90f02c0
              .sub-menus-II {
                display: block;
              }
            }
          }
<<<<<<< HEAD

=======
>>>>>>> d1ee6ad7dfc5d3448d7f7146467e6695c90f02c0
          .comeco {
            .botao-II {
              img {
                width: 22px;
                display: inline-block;
                height: auto;
              }

              color: white;
              display: flex;
              justify-content: center;
              align-items: center;
              width: auto;
              height: auto;
              border: none;
              font-size: 1rem;
              cursor: pointer;

              .sub-menus-II {
                display: block;
              }
            }
          }
<<<<<<< HEAD

=======
>>>>>>> d1ee6ad7dfc5d3448d7f7146467e6695c90f02c0
          .sobre-nos {
            .botao-III {
              img {
                width: 22px;
                display: inline-block;
                height: auto;
              }

              color: white;
              display: flex;
              justify-content: center;
              align-items: center;
              width: auto;
              height: auto;
              border: none;
              font-size: 1rem;
              cursor: pointer;

              .sub-menus-II {
                display: block;
              }
            }
          }

          li {
            text-align: center;
            min-width: 7.5rem;
            height: 100%;
            padding: 1.5vw 0 0 0;
            box-sizing: border-box;

            ul {
              position: absolute;
              display: none;
              background-color: rgb(18, 21, 44);
              height: auto;

              li {
                margin: 0.7rem 0;
              }
            }
          }

          li:hover {
            ul {
              display: block;
            }
          }

          a {
            text-decoration: none;
            color: white;
            position: relative;
          }

          li:hover {
            background-color: rgb(18, 21, 44);
          }
        }

        ul {
          a {
            text-decoration: none;
            color: white;
            position: relative;
          }

          a::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 2px;
            background-color: #ffffff;
            transform: scaleX(0);
            transform-origin: center;
            transition: transform 0.3s ease;
          }

          a:hover::after {
            transform: scaleX(1);
          }
        }
      }
    }

    main {
      margin-top: 4rem;
      margin-bottom: 3rem;

      .titulo {
        text-align: center;
        font-size: 2rem;
        border-bottom: 5px solid #0056b3;
        margin: 4.5rem 32vw 0 32vw;
      }

      .pessoas_sobreNos {
        width: 80%;
        text-align: center;
        font-size: 1.005rem;
        text-align: center;
        max-width: 1500px;
        margin: 0 auto;

        .p-1,
        .p-2,
        .p-3 {
          min-height: 34rem;
          max-height: 0rem;
          display: flex;
          justify-content: center;
          gap: 5rem;

          li {
            img {
              width: 100%;
              display: block;
            }

            h3 {
              background-color: #0056b3;
              color: white;
              padding: 7px 0;
            }

            min-width: 3rem;
            width: 50%;
            margin: 3rem 0;
            box-shadow: 0px 6px 8px #b8b8b8;
            height: fit-content;
            border: 1px solid black;
            border-radius: 5px;

            div {
              max-height: 0;
              opacity: 0;
              overflow: hidden;
              transition: max-height 0.9s ease, opacity 0.8s ease;

              a {
                display: flex;
                align-items: center;
                justify-content: center;
                text-decoration: none;
                color: #333;

                img {
                  width: 50px;
                  display: block;
                }
              }
            }
          }

          li:hover #parte-I,
          li:hover #parte-II,
          li:hover #parte-III,
          li:hover #parte-IV,
          li:hover #parte-V,
          li:hover #parte-VI {
            max-height: 500px;
            opacity: 1;
          }
        }
      }
    }

    footer {
      background: linear-gradient(#0056b3, #002457);
      color: white;
      text-align: center;
      padding: 2vw 0;
      position: relative;
      left: 0;
      bottom: 0;
      width: 100%;
      font-family: "Times New Roman", Times, serif;
      font-weight: 400;
      font-size: 1.3vw;
      min-height: 70px;
      margin-top: auto;
      box-sizing: border-box;
      z-index: 10;
      width: 100%;
      max-width: auto;

      .parte-I-footer {
        ul {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          margin: 0 auto;
          width: 100%;
          max-width: 1000px;
          padding: 0 2vw;

          .footer-contact {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: left;
            margin-left: 0;
            display: flex;

            .midia {
              display: flex;

              img {
                width: 60px;
              }
            }
          }

          .logo {
            font-family: "Times New Roman", Times, serif;
            font-weight: 700;
            font-size: 30px;
            color: white;
            margin: 0 auto;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: 310px;
          }

          .linkRp {
            font-size: 1.6vw;
            margin-bottom: 0.6vw;

            ul {
              display: flex;
              flex-direction: column;
              align-items: center;
              text-align: center;
              margin-right: 0;
              list-style: none;
              padding: 0;
              gap: 0.3vw;

              li a {
                font-size: 1.3vw;
                color: #ffffff;
                text-decoration: none;
                margin-bottom: 0;
                display: block;
                text-align: center;
              }
            }
          }
        }
      }

      .parte-II-footer {
        width: 100%;
        text-align: center;
        font-size: 1.1vw;
      }
    }
  }
}