html {
  font-size: calc(12px + 0.95vw);
  font-family: "Open Sans", sans-serif;
  color: #333;
  line-height: 1.6;
  background-color: #e6e6e6;

  body {
    background-color: #f9fbff;
    background:radial-gradient(circle at bottom left, rgb(0, 51, 110), transparent 50%),radial-gradient(circle at top right, rgb(0, 51, 110), transparent 50%);
    padding-top: 80px;

    @media (min-width: 800px) {

      header {
        #menu-responsivo {
          display: none;
        }

        img {
          height: 2.6rem;
          filter: brightness(1.05) contrast(1.4) saturate(1.2);
        }

        #nav {
          display: block;
        }

        #segundo-titulo {
          display: none;
        }

        nav {

          .direcionar_sobreNos {
            position: relative;
            z-index: 1;
            height: 100%;
            align-items: center;
            font-size: 1rem;
            display: flex;
            gap: 0.2rem;
            height: 100%;
            margin-top: 0px;


            .link-base {
              align-items: baseline;
            }

            p {
              img {
                width: 22px;
                display: inline-block;
                height: auto;
              }

              display: flex;
              align-items: center;
              justify-content: center;
              height: 100%;
              width: 100%;
              color: white;
              cursor: pointer;
              position: relative;
            }

            li {
              text-align: center;
              min-width: 7.5rem;
              height: 100%;
              box-sizing: border-box;

              ul {
                position: absolute;
                display: none;
                background-color: rgb(18, 21, 44);
                height: auto;
              }
            }

            a {
              display: block;
              width: 100%;
              padding: 1.5vw 0;
              text-decoration: none;
              color: white;
              position: relative;
            }



            li:hover {
              background-color: rgb(18, 21, 44);
            }


          }

          .sub-menu-header {
            border-top: 2px solid white;
            gap: 0.2rem;
            position: absolute;
            width: 100%;
            right: 0;
            display: flex;
            justify-content: right;
            background-color: #0056b3;
            margin: 0px 0px;
            text-align: right;
            font-size: 0.8rem;

            .theme {
              background-color: transparent;
              color: white;
              text-align: center;
              display: flex;
              justify-content: center;
              align-items: first baseline;
              border: none;
              font-size: 1rem;
              cursor: pointer;
              gap: 5px;

              .buttonOff {
                transform: rotate(180deg);
                margin: 0;
                height: 1rem;
                vertical-align: middle;
              }

              .buttonOn {
                margin: 0;
                height: 1rem;
                vertical-align: middle;
              }
            }

            li:hover {
              background-color: rgb(18, 21, 44);
            }

            li {
              text-align: center;
              min-width: 5.5rem;
              height: 100%;
              padding: 0.8vw 0;
              box-sizing: border-box;
            }
          }
        }

        h1 a {
          font-size: 1.4rem;
          text-decoration: none;
          color: white;
        }


        background: #0056b3;
        display: flex;
        justify-content: space-between;
        padding: 0 0 0 0;
        position: fixed;
        top: 0px;
        width: 100%;
        box-sizing: border-box;
        z-index: 5;
        flex-grow: 1;
        
        ul {
          p {
            text-decoration: none;
            color: white;
            position: relative;
          }
        }
      }
    }
    @media (max-width: 799px) {

      header {
        background-color: #0056b3;
        width: 100%;
        height: 50px;
        position: fixed;
        top: 0px;
        display: flex;
        padding: 3vw 6vw 0 1vw;
        justify-content: space-between;
        align-items: baseline;
        z-index: 20;

        #nav {
          display: none;
        }

        #segundo-titulo {
          display: block;
        }

        #menu-responsivo {
          display: block;
        }

        h1 {
          img {
            height: 40px;
            margin-right: 6vw;
          }
        }

        #menu-responsivo {
          margin-left: 1vw;
          border: none;
          background-color: transparent;

          img {
            width: 35px;
            border: 1.5px solid white;
            border-radius: 10px;
            background-color: transparent;
          }
        }

        nav {
          overflow-y: auto;
          height: 100vh;
          div {
            padding: 3vw 0px;
            background-color: #0056b3;
            width: 100%;
            text-align: center;
            border-bottom: 2px solid #ffffff;

            .titulo-responsivo {
              height: 80px;
              width: auto;
            }
          }

          box-shadow: -10vw 0px 10rem black;
          position: fixed;
          right: 0px;
          height: 100%;
          top: 0px;
          width: 80%;
          background-color: #002457;
          z-index: 30;

          .direcionar_sobreNos {
            margin-bottom: 11vw;
            li {
              background-color: #002457;
              font-size: 2rem;
              color: #ffffff;
              justify-content: left;
              padding-bottom: 4vw;
              padding-top: 4vw;
              border-bottom: 2px solid #001c43;

              a {
                text-decoration: none;
                color: #ffffff;
              }

              p {
                padding-left: 3vw;
                height: 100%;
                display: flex;
                align-items: center;

                img {
                  width: 30px;
                  height: auto;
                }
              }

              ul {
                margin-top: 4vw;
                display: none;
                border: none;
                li {
                  margin-bottom: 2px;
                  background-color: #001c43;
                  padding-top: 3vw;   
                  border: none;
                
                }
              }
            }
          }

          .sub-menu-header {
            position: fixed;
            bottom: 0px;
            border-top: 2px solid white;
            gap: 0.2rem;
            width: 100%;
            display: flex;
            justify-content: right;
            background-color: #0056b3;
            margin: 0px 0px;
            text-align: right;
            font-size: 0.8rem;

            .theme {
              margin-right: 10vw;
              background-color: transparent;
              color: white;
              text-align: center;
              display: flex;
              justify-content: center;
              border: none;
              font-size: 2.5rem;
              cursor: pointer;
              gap: 5px;

              .buttonOff {
                transform: rotate(180deg);
                margin: 0;
                height: 2.5rem;
                width: auto;
                vertical-align: middle;
                margin-bottom: 1vw;
              }

              .buttonOn {
                margin: 0;
                height: 2.5rem;
                width: auto;
                vertical-align: middle;
                margin-bottom: 1vw;
              }
            }
          }


        }
      }
    }

      main {
        .seta-voltar {
          background-color: #0056b3;
          border-radius: 1000px;
          cursor: pointer;
          position: fixed;
          bottom: 20px;
          right: 20px;
          border: none;
          z-index: 15;

          img {
            width: 55px;
            height: 60px;
          }
        }

        margin-top: 8vw;

        .titulo {
          background-color: transparent;
          border:0.459vw solid white;
          border-radius: 2vw;
          margin: 0px 20vw;
          padding: 3vw 5vw;
          text-align: center;
          font-size: 6vw;
          color: white;
        }

.lista {
  margin: 5vw;

  .parte-I,
  .parte-II,
  .parte-III {
    display: flex;
    justify-content: center;
    text-align: center;

    section {
      position: relative;
      border-radius: 20px;
      background-color: rgb(232, 232, 232);
      margin: 3vw;
      width: 45vw;
      overflow: hidden;
      transition: transform 0.4s ease, background-color 0.4s ease, border 0.4s ease;

        .fundo-colorido {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 12vw;
        background: linear-gradient(#0056b3, #002457, #001c43);
        z-index: 0;
        overflow: hidden;
          img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            opacity: 0.3;
            z-index: 0;
            filter:blur(2px);
            border-top-left-radius: 20px;
          }

      }

      .fundo-colorido
      > *:not(.fundo-colorido) {
        position: relative;
        z-index: 1;
      }

      .face {
        border: 8px solid rgb(232, 232, 232);
        position: relative;
        z-index: 1;
        height: 20vw;
        border-radius: 3000px;
        margin-top: 20px;
      }

      h3 {
        color: #002457;
        font-size: 4vw;
        margin-bottom: 2vw;
        margin-top: 1.5vw;
        font-weight: bold;
      }
      p {
        margin: 0px 2vw;
        color: #000000;
        font-size: 2vw;
      }
      .email {
        margin: 0px 2vw;
        margin-top: 2vw;
        padding: 0.5vw 0.3vw;
        justify-content: center;
        color: white;
        font-size: 1.7vw;
        align-items: center;
        border-radius: 15px;
        background-color: #002457;
      }

      .github {
        a {
          margin: 0px 2vw;
          margin-bottom: 3vw;
          margin-top: 2vw;
          display: flex;
          justify-content: center;
          text-decoration: none;
          color: white;
          font-size: 3vw;
          align-items: center;
          border-radius: 5vw;
          background-color: #000000;

          img {
            width: 5vw;
          }
        }
      }

      .instagram {
        a {
          margin: 0px 2vw;
          margin-bottom: 3vw;
          margin-top: 2vw;
          display: flex;
          justify-content: center;
          text-decoration: none;
          color: white;
          font-size: 3vw;
          align-items: center;
          border-radius: 5vw;
          background: linear-gradient(#7805e3, #e25d1b, #ffcc15);
          img {
            width: 5vw;
          }
        }
      }
    }
    section:hover {
      transform: scale(1.07);
      box-shadow: 0 8px 20px rgba(0, 89, 179, 0.7);
    }
  }
}

    }

      footer {
        background: linear-gradient(#0056b3, #002457);
        color: white;
        text-align: center;
        padding: 2vw 0;
        position: relative;
        font-family: "Times New Roman", Times, serif;
        font-weight: 400;
        font-size: 1.3vw;
        min-height: 70px;
        z-index: 10;
        width: 100%;

        ul {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          margin: 0 auto;
          width: 100%;
          max-width: 1000px;
          padding: 0 2vw;

          .footer-contact {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: left;
            margin-left: 0;
            display: flex;

            .midia {
              display: flex;

              img {
                width: 60px;
              }
            }
          }

          .logo {
            font-family: "Times New Roman", Times, serif;
            font-weight: 700;
            font-size: 30px;
            color: white;
            margin: 0 auto;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: 310px;
          }

          .linkRp {
            font-size: 1.6vw;
            margin-bottom: 0.6vw;

            ul {
              display: flex;
              flex-direction: column;
              align-items: center;
              text-align: center;
              margin-right: 0;
              list-style: none;
              padding: 0;
              gap: 0.3vw;

              li a {
                font-size: 1.3vw;
                color: #ffffff;
                text-decoration: none;
                margin-bottom: 0;
                display: block;
                text-align: center;
              }
            }
          }
        }

        width: 100%;
        text-align: center;
        font-size: 1.1vw;
      }
  }
}